<body>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form method="POST" action="{{ url_for('user_login.sign_in', _external=True) }}">
                {% if data.login_failure %}
                <div class="row mx-0">
                  <div class="alert alert-danger col" role="alert">
                    {{ data.message }}
                  </div>
                </div>
                {% endif %}

                <div class="mb-3">
                  <label for="user_name" class="form-label">E-Mail or Username</label>
                  <input type="text" id="user_name" class="form-control" name="user_name" required autofocus>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" id="password" class="form-control" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary">
                  Login
                </button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
