<body class="login-form">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>

      <form class="ui large form" method="POST" action="{{ url_for('user_login.sign_in', _external=True) }}">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="user_name" placeholder="User Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large teal submit button">Login</button>
        </div>

        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</body>
